<div class="area">

<div><p>If you find AccessPopup useful and you would like to show your appreciation then any Social Media promotion would be welcome or you can consider makeing a donation.</p>

<p>Donations can be made using the donation box at www.raspberryconnect.com
<br>On the home page, at the bottom of the page view the "AccessPopup Installer Script" article
<br>Then scroll down to the Green text with the donate button. </p>
</div>
<p class="smltxt">Copyright RaspberryConnect.com</p>

</div>
<br><br>

