[Unit]
Description=Einmaliges Skript für den ersten Start von DoitPi
Wants=network-online.target
After=network-online.target
ConditionPathExists=/usr/local/sbin/doitpi_firstboot.sh

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/doitpi_firstboot.sh
TimeoutStartSec=1200

[Install]
WantedBy=multi-user.target
